<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.IDizhiDao">
	<resultMap id="BaseResultMap" type="com.ssm.dto.Dizhi">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="dizhi_user" property="dizhi_user" jdbcType="INTEGER" />
		<result column="dizhi_name" property="dizhi_name" jdbcType="VARCHAR" />
		<result column="dizhi_sex" property="dizhi_sex" jdbcType="VARCHAR" />
		<result column="dizhi_phone" property="dizhi_phone" jdbcType="VARCHAR" />
		<result column="dizhi_dizhi" property="dizhi_dizhi" jdbcType="VARCHAR" />
		<result column="dizhi_menpai" property="dizhi_menpai" jdbcType="VARCHAR" />
		<result column="dizhi_select" property="dizhi_select" jdbcType="VARCHAR" />
		<result column="dizhi_zh" property="dizhi_zh" jdbcType="INTEGER" />
	</resultMap> 
	
	<sql id="Base_Column_List">
		id,dizhi_user,dizhi_name,dizhi_sex,dizhi_phone,dizhi_dizhi,dizhi_menpai,dizhi_select,dizhi_zh
	</sql>
	
	<!-- 查询用户 -->
	<select id="getAllDizhi" resultMap="BaseResultMap">
		select
		id,dizhi_name,dizhi_sex,dizhi_phone,dizhi_dizhi,dizhi_menpai,dizhi_select,dizhi_zh
		from dizhi
	</select>
	<!-- 插入用户 -->
	<insert id="inserDizhi" parameterType="com.ssm.dto.Dizhi">
		insert into dizhi
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="dizhi_user != null">
				dizhi_user,
			</if>
			<if test="dizhi_name != null">
				dizhi_name,
			</if>
			<if test="dizhi_sex != null">
				dizhi_sex,
			</if>
			<if test="dizhi_phone != null">
				dizhi_phone,
			</if>			
			<if test="dizhi_dizhi != null">
				dizhi_dizhi,
			</if>
			<if test="dizhi_menpai != null">
				dizhi_menpai,
			</if>
			<if test="dizhi_select != null">
				dizhi_select,
			</if>
			<if test="dizhi_zh != null">
				dizhi_zh,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="dizhi_user != null">
				#{dizhi_user,jdbcType=INTEGER},
			</if>
			<if test="dizhi_name != null">
				#{dizhi_name,jdbcType=VARCHAR},
			</if>
			<if test="dizhi_sex != null">
				#{dizhi_sex,jdbcType=VARCHAR},
			</if>
			<if test="dizhi_phone != null">
				#{dizhi_phone,jdbcType=VARCHAR},
			</if>
			<if test="dizhi_dizhi != null">
				#{dizhi_dizhi,jdbcType=VARCHAR},
			</if>
			<if test="dizhi_menpai != null">
				#{dizhi_menpai,jdbcType=VARCHAR},
			</if>
			<if test="dizhi_select != null">
				#{dizhi_select,jdbcType=INTEGER},
			</if>
			<if test="dizhi_zh != null">
				#{dizhi_zh,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<!-- ***************************hee*start***************************** -->
	
	<!-- 根据 dizhi_zh和dizhi_user 获取用户对应的 地址 List对象  -->
	<select id="getDizhiByZhUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dizhi
		<where>
		 <if test="dizhi_zh != null ">
		     and dizhi_zh = #{dizhi_zh,jdbcType=INTEGER}
		 </if>
		 <if test="dizhi_user != null">
		     and dizhi_user = #{dizhi_user,jdbcType=INTEGER}
		 </if>
		 <if test="dizhi_select != null">
		     and dizhi_select = #{dizhi_select,jdbcType=INTEGER}
		 </if>
		</where>
	</select>
	
	<!-- 根据 dizhi_zh dizhi_user 确定数据 把 dizhi_select 改为0-->
	<update id="updateByBuff" parameterType="com.ssm.dto.Dizhi" >
		update dizhi
		<set>
			dizhi_select = #{dizhi_select,jdbcType=INTEGER}
		</set>
		where dizhi_zh=#{dizhi_zh,jdbcType=INTEGER}
			
		 <if test="dizhi_select != 0 ">
		      and dizhi_select = 0
		 </if>
		 
		 <if test="dizhi_select != 1 ">
		      and dizhi_select = 1
		 </if>
		 
		 <if test="dizhi_user != null ">
		     and dizhi_user = #{dizhi_user,jdbcType=INTEGER}
		 </if>
		 <if test="id != null ">
		     and id = #{id,jdbcType=INTEGER}
		 </if>
	</update>
	
	<!-- 更新  dizhi_name dizhi_sex dizhi_phone dizhi_dizhi dizhi_menpai 根据 id -->
	<update id="updateById" parameterType="com.ssm.dto.Dizhi" >
		update dizhi
		<set>
			<if test="dizhi_name != null">
				dizhi_name = #{dizhi_name,jdbcType=VARCHAR},
			</if>
			<if test="dizhi_sex != null">
				dizhi_sex = #{dizhi_sex,jdbcType=VARCHAR},
			</if>
			<if test="dizhi_phone != null">
				dizhi_phone = #{dizhi_phone,jdbcType=VARCHAR},
			</if>
			<if test="dizhi_dizhi != null">
				dizhi_dizhi = #{dizhi_dizhi,jdbcType=VARCHAR},
			</if>
			<if test="dizhi_menpai != null">
				dizhi_menpai = #{dizhi_menpai,jdbcType=VARCHAR},
			</if>
		</set>
		where dizhi_zh=#{dizhi_zh,jdbcType=INTEGER}
			  and id =#{id,jdbcType=INTEGER}
	</update>
	
	<!-- 删除  地址 根据 id 和dizhi_zh -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from dizhi
		where id = #{id,jdbcType=INTEGER} and
		dizhi_zh=#{dizhi_zh,jdbcType=INTEGER}
	</delete>
	
	<!-- ***************************hee*end******************************* -->
</mapper>