<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.ILunboDao">
	<resultMap id="BaseResultMap" type="com.ssm.dto.Lunbo">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="lunbo_name" property="lunbo_name" jdbcType="VARCHAR" />
		<result column="lunbo_pic" property="lunbo_pic" jdbcType="VARCHAR" />
		<result column="lunbo_show" property="lunbo_show" jdbcType="VARCHAR" />
		<result column="lunbo_num" property="lunbo_num" jdbcType="INTEGER" />
		<result column="lunbo_remark" property="lunbo_remark" jdbcType="VARCHAR" />
		<result column="lunbo_zh" property="lunbo_zh" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,lunbo_name,lunbo_pic,lunbo_show,lunbo_num,lunbo_remark,lunbo_zh
	</sql>
	
	<!-- 查询用户 -->
	<select id="getAllLunbo" resultMap="BaseResultMap">
		select
		id,lunbo_name,lunbo_pic,lunbo_show,lunbo_num,lunbo_remark,lunbo_zh
		from lunbo
	</select>
	<!-- 插入用户 -->
	
	
	<insert id="inserDizhi" parameterType="com.ssm.dto.Dizhi">
		insert into dizhi
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="lunbo_name != null">
				lunbo_name,
			</if>
			<if test="lunbo_pic != null">
				lunbo_pic,
			</if>
			<if test="lunbo_show != null">
				lunbo_show,
			</if>
			<if test="lunbo_num != null">
				lunbo_num,
			</if>
			<if test="lunbo_remark != null">
				lunbo_remark,
			</if>
			<if test="lunbo_zh != null">
				lunbo_zh,
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="lunbo_name != null">
				#{lunbo_name,jdbcType=VARCHAR},
			</if>
			<if test="lunbo_pic != null">
				#{lunbo_pic,jdbcType=VARCHAR},
			</if>
			<if test="lunbo_show != null">
				#{lunbo_show,jdbcType=VARCHAR},
			</if>
			<if test="lunbo_num != null">
				#{lunbo_num,jdbcType=VARCHAR},
			</if>
			<if test="lunbo_remark != null">
				#{lunbo_remark,jdbcType=VARCHAR},
			</if>
			<if test="lunbo_zh != null">
				#{lunbo_zh,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>